<html>
<head>
    <title>Digital Scribble Pad</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom/cookie.js"></script>
    <script>
        var root = "http://34.204.11.46:12233/";
    </script>
</head>
<body>
    <div class="container">
        {{{body}}}    
    </div>    
</body>
</html>