<div>
    <h2>Welcome to Digital Scribble Pad!</h2>
    <h3>Please enter your login information or create an account</h3>
    <br/>
    <h4>Login:</h4>
    <label>Username: <input/></label>
    <label>Password: <input/></label>
    <button>Login</button>
    <br/>
    <h4>Create an account:</h4>
    <label>Username: <input/></label>
    <label>Password: <input/></label>
    <label>Verify: <input/></label>
    <button>Login</button>
</div>