<script src="/public/js/custom/newscribble.js"></script>

<div>
    <h1>New Scribble</h1>    
    <textarea class="form-control col-md-12" maxlength="1024" style="height: 200px;" id="scribbleBody"></textarea>
    <button class="btn btn-cancel pull-left" id="cancel">Cancel</button>
    <span class="btn btn-primary pull-right" id="saveNew">Save</span>
</div>

